<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
   <link rel="stylesheet" href="/assets/Css/style.css">
    <link rel="stylesheet" href="/assets/Css/responsive.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/assets/Image/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="/assets/Template/index.html">Home</a>
                    </li>
                    <li>
                        <a href="/assets/template/about.html">About</a>
                    </li>
                    <li>
                        <a href="/assets/template/deals.html">Deals</a>
                    </li>
                    <li>
                        <a href="/assets/template/reservation.html" class="active">Reservation</a>
                    </li>
                    <li>
                        <a href="#">Book Yours</a>
                    </li>
                </ul>
            </div>
        </header>
        <!-- End of Header : Navbar -->
        <div class="main">
            <section class="slider">
                <h3>Book Prefered Deal Here</h3>
                <hr>
                <h1>Make Your Reservation</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt uttersi labore et dolore magna aliqua is ipsum suspendisse ultrices gravida</p>               
                <article> <a href="#">Discover More</a></article>
            </section>   
            <div class="reservation">
                <section class="contact">
                    <article>
                        <div><span class="material-symbols-outlined">phone_in_talk</span></div>
                        <h3>Make a Phone Call</h3>
                        <p>+1 234 567 890</p>
                    </article>
                    <article>
                        <div><span class="material-symbols-outlined">email</span></div>
                        <h3>Send an Email</h3>
                        <p>info@example.com</p>
                    </article>
                    <article>
                        <div><span class="material-symbols-outlined">place</span></div>
                        <h3>Our Location</h3>
                        <p>123 Main St, Anytown, USA</p>
                    </article>
                </section>
            
            <div class="form">
                <section class="location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d116592.91746681923!2d-80.118781!3d25.952478!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1755406291516!5m2!1sen!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </section>
                <section class="fill">
                    <h1>Make Your Reservation Through This Form</h1>
                    <form action="">
                        <ul>
                            <li><p>Your Name</p>
                                <input type="text" placeholder="Your Name">
                            </li>
                            <li><p>Your Phone Number</p>
                                <input type="phone" placeholder="Your Phone Number">
                            </li>
                            <li><p>Number of Guests</p>
                                <input type="number" placeholder="Number of Guests">
                            </li>
                            <li><p>Check-in Date</p>
                                <input type="date" placeholder="Check-in Date">
                            </li>  
                            <li>
                                <p>Choose Your Destination</p>
                                <select id="destination" name="destination" class="dropdown">
                                    <option value="Italy">Italy</option>
                                    <option value="France">France</option>
                                    <option value="London">London</option>
                                </select>
                            </li>              
                        </ul>
                              
                        
                        <button type="submit">Submit</button>
                    </form>
                </section>
            </div>
        </div>
        </div>

        <!-- End of Main Content -->
        <footer>
            <div class="foot-1">
                <section>
                    <h2>Are You Looking To Travel ?</h2>
                    <h3>Make A Reservation By Clicking The Button</h3>
                </section>
                <section>
                    <button>
                        BOOK YOURS NOW
                    </button>
                </section>
            </div>
            <div class="foot-2">
                <p>Copyright © 2036 <a href="#">WoOx Travel</a> Company. All rights reserved. 
          <br>Design: <a href="" target="_blank" title="free CSS templates">TemplateMo</a></p>
        </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Container  : Wrapper -->
</body>

</html>