<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link rel="stylesheet" href="/assets/Css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/assets/Image/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="/assets/Template/index.html">Home</a>
                    </li>
                    <li>
                        <a href="/assets/template/about.html">About</a>
                    </li>
                    <li>
                        <a href="/assets/template/deals.html" class="active">Deals</a>
                    </li>
                    <li>
                        <a href="/assets/template/reservation.html">Reservation</a>
                    </li>
                    <li>
                        <a href="#">Book Yours</a>
                    </li>
                </ul>
            </div>
        </header>
        <!-- End of Header : Navbar -->
        <div class="main">
            <section class="slider">
                <article style="background-size: 100% 140%;">
                    <aside>
                        <p style="font-size: 36px;">Discover Our Weekly Offers</p>
                        <h2 style="font-size: 72px;">Amazing Prices & More</h2>
                        <a href="#" style="color: white;border: 1px solid white;font-size: 24px;">Discover More</a>
                    </aside>
                </article>
            </section>
        </div>
        <section class="deal1">
            <div class="sort">
                <div>Sort Deals By:</div>
                <div>
                    <ul>
                        <li>Destination <span>&bigtriangledown;</span>
                            <ol>
                                <li>Destination</li>
                                <li>Hehe</li>
                                <li>Hehe</li>
                            </ol>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Price Range</li>
                    </ul>
                </div>
                <div>
                    <button>Search <br> Result</button>
                </div>
            </div>
        </section>
        <section class="deal2">
            <div>
                <section>
                    <article>
                        <img src="https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/deals-01.jpg" alt="">
                    </article>
                    <article>
                        <aside>
                        <pre>*Limited Offer Today</pre>
                        <h2>lasgow City Lorem</h2>
                        <section>
                        <p><span class="material-symbols-outlined">nest_clock_farsight_analog</span> 5 Days</p>
                        <p><span class="material-symbols-outlined">map</span> Daily Places</p>
                        </section>
                        <p>Lorem ipsum dolor sit amet dire consectetur adipiscing elit.</p>
                        <aside><a href="">Make a Reservation</a></aside>
                        </aside>
                    </article>
                </section>

            </div>
            <div>
                <section>
                    <article>
                        <img src="https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/deals-02.jpg" alt="">
                    </article>
                    <article>
                        <aside>
                        <pre>*Limited Offer Today</pre>
                        <h2>Venezia Italy Ipsum</h2>
                        <section>
                        <p><span class="material-symbols-outlined">nest_clock_farsight_analog</span> 5 Days</p>
                        <p><span class="material-symbols-outlined">map</span> Daily Places</p>
                        </section>
                        <p>Lorem ipsum dolor sit amet dire consectetur adipiscing elit.</p>
                        <aside><a href="">Make a Reservation</a></aside>
                        </aside>
                    </article>
                </section>
            </div>
            <div>
                <section>
                    <article>
                        <img src="https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/deals-03.jpg" alt="">
                    </article>
                    <article>
                        <aside>
                        <pre>**Undefined</pre>
                        <h2>Glasgow City Lorem</h2>
                        <section>
                        <p><span class="material-symbols-outlined">nest_clock_farsight_analog</span> 5 Days</p>
                        <p><span class="material-symbols-outlined">map</span> Daily Places</p>
                        </section>
                        <p>Lorem ipsum dolor sit amet dire consectetur adipiscing elit.</p>
                        <aside><a href="">Make a Reservation</a></aside>
                        </aside>
                    </article>
                </section>
            </div>
            <div>
                <section>
                    <article>
                        <img src="https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/deals-04.jpg" alt="">
                    </article>
                    <article>
                        <aside>
                        <pre>*Offer Until 24th March</pre>
                        <h2>Glasgow City Lorem</h2>
                        <section>
                        <p><span class="material-symbols-outlined">nest_clock_farsight_analog</span> 5 Days</p>
                        <p><span class="material-symbols-outlined">map</span> Daily Places</p>
                        </section>
                        <p>This free CSS template is provided by Template Mo website.</p>
                        <aside><a href="">Make a Reservation</a></aside>
                        </aside>
                    </article>
                </section>
            </div>
        </section>
        <!-- End of Main Content -->
        <footer>
            <div class="foot-1">
                <section>
                    <h2>Are You Looking To Travel ?</h2>
                    <h3>Make A Reservation By Clicking The Button</h3>
                </section>
                <section>
                    <button>
                        BOOK YOURS NOW
                    </button>
                </section>
            </div>
            <div class="foot-2">
                <p>Copyright © 2036 <a href="#">WoOx Travel</a> Company. All rights reserved. 
          <br>Design: <a href="" target="_blank" title="free CSS templates">TemplateMo</a></p>
        </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Container  : Wrapper -->
</body>
</html>